<h1>Edit your Sub</h1>

<form action="<%= sub_url %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="Name">Name</label>
<input type="text" name="sub[title]" id="Name" value="<%= @sub.title %>">
<br>

<label for="Description">Description</label>
<br>
<textarea name="sub[description]" id="Description" cols="30" rows="10"><%= @sub.description %></textarea>
<br>
<input type="submit" value="Submit!">

</form>